@import "tailwindcss";


@theme {
    --font-Poppins: "Poppins", sans-serif;
    --font-Lato: "Lato", sans-serif;
    /* --shadow-newMade: 0 28px 30px rgba(99, 122, 166, 0.05); */
}


.swiper-pagination {
    bottom: 20px !important;
}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    background-color: #ffffff !important; 
    opacity: 1 !important; 
    border-radius: 50% !important;
    transition: all 0.4s ease-in-out !important;
    margin: 0 5px !important;
}

.swiper-pagination-bullet-active {
    width: 35px !important;
    height: 12px !important;
    background-color: #00a2ff !important;
    border-radius: 20px !important;
}